<!-- hello_world.html -->

<!DOCTYPE html>
<html>
    <head>
        <title>I come from template!!</title>
        <style>
            body {
               background-color: lightyellow;
            }
            em {
                color: LightSeaGreen;
            }
        </style>
    </head>
    <body>
        <h1> Course Recommendation</h1>
        <form action="/find_similarity/" method="get">
            <label for = "user_name"> Search for course: </label>
            <input id  = "keyword" type = "text" name = "keyword">
            <input type= "submit" value = "Enter">
        </form>
    </body>
</html>