<!-- Bootsrape -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


{% load staticfiles %}
{% load extras %}
<html>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <head>
      <!-- Custom styles for this template -->
      <link rel="stylesheet" href="{% static 'css/grid.css' %}">
    </head>
    
    <body>
    There are {{ recommends|length }} recommendation(s):

    <div class="row", style="font-weight: bold;">
        <div class="col-md-2">
          <div class="title"> Course Title </div>
        </div>
        <div class="col-md-6"> Course Description </div>
        <div class="col-md-1"> MyProfessorRate </div>
        <div class="col-md-1"> Instructor </div>
        <div class="col-md-2"> Course Type </div>
    </div>
    
    {% for rec in recommends %}
    <div class="row">
      <div class="col-md-2"> 
        <div class="title"> {{rec.title}} </div> 
      </div>
      <div class="col-md-6"> {{rec.description}} </div>
      <div class="col-md-1"> 
        <a href="http://www.ratemyprofessors.com/ShowRatings.jsp?tid={{rec.tid}}" > {{rec.rating}} </a>
      </div>
      <div class="col-md-1"> {{rec.instructor}} </div>
      <div class="col-md-2"> {{rec.class_type}} </div>
      <div class="col-md-2"> </div>
    </div>
    {% endfor %}
    </body>
</html>
